:root{
    /* default values */
    --display: flex;
    --justify: flex-end;
    --align: center;
}

.main{

    height: 260px;

    border: 8px solid #016a26;

    display: var(--display);
    justify-content: var(--justify);
    align-items: var(--align);
    transition: all 0.8s ease;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    margin: 2px;
    padding: 10px;

    font-size: 50px;

    border: 2px solid black;
    background: linear-gradient(#14463d, #016a26);
}
.select-property{
   margin: 5px;
   display: flex;
   justify-content: center;
   
}
.display-value{
    margin:inherit;

    width: 200px;

    border: 5px solid rgb(221, 53, 53);

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.align-item{
    margin:inherit;
    width: 200px;
    border: 5px solid rgb(20, 196, 137);

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.justify-content
{
    margin:inherit;
    width: 200px;
    border: 5px solid rgb(74, 122, 198);

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
